.mstheme     { separator-image: url(zerrulea.gif); list-image-1: url(zerbul1a.gif); 
               list-image-2: url(zerbul2a.gif); list-image-3: 
               url(zerbul3a.gif); nav-banner-image: url(zerbana.gif); 
               navbutton-horiz-normal: url(zernavha.gif); 
               navbutton-horiz-hovered: url(zernavhh.gif); 
               navbutton-horiz-pushed: url(zernavhe.gif); 
               navbutton-vert-normal: url(zernavva.gif); 
               navbutton-vert-hovered: url(zernavvh.gif); 
               navbutton-vert-pushed: url(zernavve.gif); 
               navbutton-home-normal: url(zerhoma.gif); 
               navbutton-home-hovered: url(zerhomh.gif); 
               navbutton-home-pushed: url(zerhoma.gif); 
               navbutton-next-normal: url(zernxta.gif); 
               navbutton-next-hovered: url(zernxth.gif); 
               navbutton-next-pushed: url(zernxta.gif); 
               navbutton-prev-normal: url(zerprea.gif); 
               navbutton-prev-hovered: url(zerpreh.gif); 
               navbutton-prev-pushed: url(zerprea.gif); navbutton-up-normal: 
               url(zerupa.gif); navbutton-up-hovered: url(zeruph.gif); 
               navbutton-up-pushed: url(zerupa.gif) }
.mstheme-bannertxt { color: rgb(255, 255, 255); font-size: 6; font-style: normal; font-weight: bold; 
               vertical-align: bottom }
.mstheme-horiz-navtxt { color: rgb(255, 255, 255); font-size: 2; font-style: normal; font-weight: 
               normal }
.mstheme-vert-navtxt { color: rgb(255, 255, 255); font-size: 2; font-style: normal; font-weight: 
               normal }
.mstheme-navtxthome { color: rgb(255, 255, 255); font-size: 1; font-style: normal; font-weight: 
               normal }
.mstheme-navtxtnext { color: rgb(255, 255, 255); font-size: 1; font-style: normal; font-weight: 
               normal }
.mstheme-navtxtprev { color: rgb(255, 255, 255); font-size: 1; font-style: normal; font-weight: 
               normal }
.mstheme-navtxtup { color: rgb(255, 255, 255); font-size: 1; font-style: normal; font-weight: 
               normal }
ul           { list-style-image: url('zerbul1a.gif') }
ul ul        { list-style-image: url('zerbul2a.gif') }
ul ul ul     { list-style-image: url('zerbul3a.gif') }
a:link       { color: rgb(102, 153, 102) }
a:active     { color: rgb(153, 153, 153) }
a:visited    { color: rgb(102, 153, 204) }
body         { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255) }
table        { table-border-color-light: rgb(204, 204, 204); table-border-color-dark: 
               rgb(102, 102, 102) }
h1           { color: rgb(102, 153, 204) }
h2           { color: rgb(102, 153, 204) }
h3           { color: rgb(102, 153, 204) }
h4           { color: rgb(102, 153, 204) }
h5           { color: rgb(102, 153, 204) }
h6           { color: rgb(102, 153, 204) }
button       { background-color: rgb(102, 153, 204); color: rgb(255, 255, 255) }
label        { color: rgb(255, 255, 255) }
.mstheme-text {  }
textarea     { color: rgb(0, 0, 0) }
fieldset     { color: rgb(255, 255, 255) }
legend       { color: rgb(102, 153, 204) }
select       { color: rgb(0, 0, 0) }
caption      { color: rgb(102, 153, 204) }
th           { color: rgb(255, 255, 255) }
.mstheme-bannertxt a:link { color: rgb(102, 153, 102) }
.mstheme-bannertxt a:active { color: rgb(153, 153, 153) }
.mstheme-bannertxt a:visited { color: rgb(102, 153, 204) }
.mstheme-bannertxt-g { color: rgb(255, 255, 255); font-size: 6; font-style: normal; font-weight: bold; 
               vertical-align: bottom }
.mstheme-bannertxt-g a:link { color: rgb(102, 153, 102) }
.mstheme-bannertxt-g a:active { color: rgb(153, 153, 153) }
.mstheme-bannertxt-g a:visited { color: rgb(102, 153, 204) }
.mstheme-bannertxt-s { color: rgb(255, 255, 255); font-size: 6; font-style: normal; font-weight: bold; 
               vertical-align: bottom }
.mstheme-bannertxt-s a:link { color: rgb(102, 153, 102) }
.mstheme-bannertxt-s a:active { color: rgb(153, 153, 153) }
.mstheme-bannertxt-s a:visited { color: rgb(102, 153, 204) }
.mstheme-horiz-navtxt a:link { color: rgb(102, 153, 102) }
.mstheme-horiz-navtxt a:active { color: rgb(153, 153, 153) }
.mstheme-horiz-navtxt a:visited { color: rgb(102, 153, 204) }
.mstheme-horiz-navtxt-g { color: rgb(255, 255, 255); font-size: 2; font-style: normal; font-weight: 
               normal }
.mstheme-horiz-navtxt-g a:link { color: rgb(102, 153, 102) }
.mstheme-horiz-navtxt-g a:active { color: rgb(153, 153, 153) }
.mstheme-horiz-navtxt-g a:visited { color: rgb(102, 153, 204) }
.mstheme-horiz-navtxt-gs { color: rgb(255, 255, 255); font-size: 2; font-style: normal; font-weight: 
               normal }
.mstheme-horiz-navtxt-gs a:link { color: rgb(102, 153, 102) }
.mstheme-horiz-navtxt-gs a:active { color: rgb(153, 153, 153) }
.mstheme-horiz-navtxt-gs a:visited { color: rgb(102, 153, 204) }
.mstheme-navtxthome a:link { color: rgb(102, 153, 102) }
.mstheme-navtxthome a:active { color: rgb(153, 153, 153) }
.mstheme-navtxthome a:visited { color: rgb(102, 153, 204) }
.mstheme-navtxthome-g { color: rgb(255, 255, 255); font-size: 1; font-style: normal; font-weight: 
               normal }
.mstheme-navtxthome-g a:link { color: rgb(102, 153, 102) }
.mstheme-navtxthome-g a:active { color: rgb(153, 153, 153) }
.mstheme-navtxthome-g a:visited { color: rgb(102, 153, 204) }
.mstheme-navtxthome-gs { color: rgb(255, 255, 255); font-size: 1; font-style: normal; font-weight: 
               normal }
.mstheme-navtxthome-gs a:link { color: rgb(102, 153, 102) }
.mstheme-navtxthome-gs a:active { color: rgb(153, 153, 153) }
.mstheme-navtxthome-gs a:visited { color: rgb(102, 153, 204) }
.mstheme-navtxtnext a:link { color: rgb(102, 153, 102) }
.mstheme-navtxtnext a:active { color: rgb(153, 153, 153) }
.mstheme-navtxtnext a:visited { color: rgb(102, 153, 204) }
.mstheme-navtxtnext-g { color: rgb(255, 255, 255); font-size: 1; font-style: normal; font-weight: 
               normal }
.mstheme-navtxtnext-g a:link { color: rgb(102, 153, 102) }
.mstheme-navtxtnext-g a:active { color: rgb(153, 153, 153) }
.mstheme-navtxtnext-g a:visited { color: rgb(102, 153, 204) }
.mstheme-navtxtnext-gs { color: rgb(255, 255, 255); font-size: 1; font-style: normal; font-weight: 
               normal }
.mstheme-navtxtnext-gs a:link { color: rgb(102, 153, 102) }
.mstheme-navtxtnext-gs a:active { color: rgb(153, 153, 153) }
.mstheme-navtxtnext-gs a:visited { color: rgb(102, 153, 204) }
.mstheme-navtxtprev a:link { color: rgb(102, 153, 102) }
.mstheme-navtxtprev a:active { color: rgb(153, 153, 153) }
.mstheme-navtxtprev a:visited { color: rgb(102, 153, 204) }
.mstheme-navtxtprev-g { color: rgb(255, 255, 255); font-size: 1; font-style: normal; font-weight: 
               normal }
.mstheme-navtxtprev-g a:link { color: rgb(102, 153, 102) }
.mstheme-navtxtprev-g a:active { color: rgb(153, 153, 153) }
.mstheme-navtxtprev-g a:visited { color: rgb(102, 153, 204) }
.mstheme-navtxtprev-gs { color: rgb(255, 255, 255); font-size: 1; font-style: normal; font-weight: 
               normal }
.mstheme-navtxtprev-gs a:link { color: rgb(102, 153, 102) }
.mstheme-navtxtprev-gs a:active { color: rgb(153, 153, 153) }
.mstheme-navtxtprev-gs a:visited { color: rgb(102, 153, 204) }
.mstheme-navtxtup a:link { color: rgb(102, 153, 102) }
.mstheme-navtxtup a:active { color: rgb(153, 153, 153) }
.mstheme-navtxtup a:visited { color: rgb(102, 153, 204) }
.mstheme-navtxtup-g { color: rgb(255, 255, 255); font-size: 1; font-style: normal; font-weight: 
               normal }
.mstheme-navtxtup-g a:link { color: rgb(102, 153, 102) }
.mstheme-navtxtup-g a:active { color: rgb(153, 153, 153) }
.mstheme-navtxtup-g a:visited { color: rgb(102, 153, 204) }
.mstheme-navtxtup-gs { color: rgb(255, 255, 255); font-size: 1; font-style: normal; font-weight: 
               normal }
.mstheme-navtxtup-gs a:link { color: rgb(102, 153, 102) }
.mstheme-navtxtup-gs a:active { color: rgb(153, 153, 153) }
.mstheme-navtxtup-gs a:visited { color: rgb(102, 153, 204) }
.mstheme-topbar-font a:link { color: rgb(102, 153, 102) }
.mstheme-topbar-font a:active { color: rgb(153, 153, 153) }
.mstheme-topbar-font a:visited { color: rgb(102, 153, 204) }
.mstheme-topbar-font-g { color: rgb(255,255,255); font-size: 8pt }
.mstheme-topbar-font-g a:link { color: rgb(102, 153, 102) }
.mstheme-topbar-font-g a:active { color: rgb(153, 153, 153) }
.mstheme-topbar-font-g a:visited { color: rgb(102, 153, 204) }
.mstheme-vert-navtxt a:link { color: rgb(102, 153, 102) }
.mstheme-vert-navtxt a:active { color: rgb(153, 153, 153) }
.mstheme-vert-navtxt a:visited { color: rgb(102, 153, 204) }
.mstheme-vert-navtxt-g { color: rgb(255, 255, 255); font-size: 2; font-style: normal; font-weight: 
               normal }
.mstheme-vert-navtxt-g a:link { color: rgb(102, 153, 102) }
.mstheme-vert-navtxt-g a:active { color: rgb(153, 153, 153) }
.mstheme-vert-navtxt-g a:visited { color: rgb(102, 153, 204) }
.mstheme-vert-navtxt-gs { color: rgb(255, 255, 255); font-size: 2; font-style: normal; font-weight: 
               normal }
.mstheme-vert-navtxt-gs a:link { color: rgb(102, 153, 102) }
.mstheme-vert-navtxt-gs a:active { color: rgb(153, 153, 153) }
.mstheme-vert-navtxt-gs a:visited { color: rgb(102, 153, 204) }
.mstheme-vert-navtxt { color: rgb(255, 255, 255); font-size: 2; font-style: normal; font-weight: 
               normal }
.mstheme     { navbutton-background-color: rgb(0,0,0); top-bar-button: url(zerglobd.gif) }
.mstheme-topbar-font { color: rgb(255,255,255); font-size: 8pt }
body         { vertical-align: none; background-image: url('zertxtr.gif'); text-align: none; 
               font-style: normal; font-weight: normal }
button       { font-size: 8pt; font-style: normal; border-style: solid; border-width: 1pt }
caption      { font-size: 14pt; font-style: normal }
fieldset     { font-size: 8pt; font-style: normal; border-style: solid; border-width: 1pt }
h1           { font-weight: normal; font-style: normal; font-size: 24pt }
h2           { font-style: normal; font-size: 18pt; font-weight: normal }
h3           { font-size: 14pt; font-weight: normal; font-style: normal }
h4           { font-weight: normal; font-size: 12pt; font-style: normal }
h5           { font-size: 10pt; font-style: normal; font-weight: normal }
h6           { font-size: 8pt; font-style: normal; font-weight: normal }
label        { font-style: normal; font-size: 8pt }
label, .mstheme-label { font-size: 8pt; font-style: normal }
legend       { font-style: normal; font-size: 8pt }
marquee      { font-size: 14pt }
select       { font-style: normal; font-size: 8pt; border-style: solid; border-width: 1pt }
table        { vertical-align: none; font-style: normal; font-weight: normal; text-align: 
               none }
textarea     { font-style: normal; font-size: 8pt; border-style: solid; border-width: 1pt }
th           { font-style: normal }
